body{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
    background-color: #ff914d;
}
      
ul.topnav li {
    float: left;
}
      
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
      
ul.topnav li a:hover:not(.active) {
    background-color: #ffa871;
}
      
ul.topnav li a.active {
    background-color: #44a747;
}
      
ul.topnav li.right {
    float: right;
}

.navContainer {
    display: block;
    background-color:#ff914d;
    width: 100%;
}

#container {
    display: block;
    width: 100%;
    opacity: 70%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    opacity: 70%;
}

.text-principal {
    position: relative;
    width: 27%;
    height: 60%;
    background-color: #ff914d;
    color: white;
    top: -45em;
    left: 3em;
}

p {
    font-size: 5em;
    font-family: 'Rubik', sans-serif;
}

footer {
    position: absolute;
    padding: 0.5em;
    background: #ff914d;
    text-align: left;
    width: 100%;
}

h3{
    font-size: 0.8em;
    font-family: 'Rubik', sans-serif;
    color: white;
}

cor #ff914d LARANJA
cor ffbd59 AMARELO